@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    /* 其余颜色变量定义... */
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    /* 其余 dark 模式下的颜色变量定义... */
  }

  /* 视频背景及图片背景 */
  body {
    @apply bg-background text-foreground;
    
    /* 背景设置 */
    content: " " !important;
    background: fixed !important;
    z-index: -1 !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    background-position: top !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-image: url(https://t.mwm.moe/ys/) !important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }

  * {
    @apply border-border;
  }
  html {
    @apply scroll-smooth;
  }
}

@layer utilities {
  .step {
    counter-increment: step;
  }

  .step:before {
    @apply absolute inline-flex h-9 w-9 items-center justify-center rounded-full border-4 border-background bg-muted text-center -indent-px font-mono text-base font-medium;
    @apply ml-[-50px] mt-[-4px];
    content: counter(step);
  }

  /* 加载动画样式 */
  .hamster-loading-wrapper {
    --size: 12px;
    height: var(--size);
    width: var(--size);
    inset: 0;
    z-index: 10;
  }

  /* 其余样式和动画定义... */
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}

::selection {
  @apply bg-stone-300 dark:bg-stone-800;
}

.scrollbar-hidden {
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari 和 Opera */
}
